<!DOCTYPE html>
<html lang="en">
<head>
<!-- start: Meta -->
<meta charset="utf-8">
<title>Change password | CoLearnr</title>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="author" content=""/>
<!-- end: Meta -->

<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- end: Mobile Specific -->

<!-- start: Facebook Open Graph -->
<meta property="og:title" content=""/>
<meta property="og:description" content=""/>
<meta property="og:type" content=""/>
<meta property="og:url" content=""/>
<meta property="og:image" content=""/>
<!-- end: Facebook Open Graph -->

<link rel="apple-touch-icon" href="<%- page_options.cdn_prefix %>/images/apple-touch-icon.png" />
<link rel="shortcut icon" href="<%- page_options.cdn_prefix %>/images/favicon.ico" />
<% include includes/css-common.html %>
<link rel="stylesheet" href="<%- locals.page_options.cdn_prefix %>/stylesheets/login.css?<%- locals.page_options.version %>" type="text/css">
</head>
<body>
    <div id="wrap">
        <% if (locals.show_nav) { %>
        <!--start: Header -->
        <header>

            <!--start: Container -->
            <div class="container">
            <% include includes/nav.html %>
            </div>
            <!--end: Container-->

        </header>
        <!--end: Header-->
        <% } %>
        <div class="container">
            <div class="apollo">
                    <div class="apollo-container clearfix">
                        <p class="apollo-heading">
                            Change your password
                        </p>
                        <% if (locals.error && locals.error.length) { %>
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Something is not right!</strong>
                            <ul class="square">
                            <% error.forEach(function (msg) { %>
                                <li><%- msg %></li>
                            <% }) %>
                            </ul>
                        </div>
                        <% } %>
                        <div class="profilewrapper col-sm-12">
                            <img width="80px" height="auto" src="<%- user.profileImage || locals.page_options.cdn_prefix + '/images/profile/profile_1.jpg' %>" title="<%- user.displayName || '' %>" class="img-circle">
                        </div>
                        <form id="register-form" method="post" action="/password/change">
                            <input type="hidden" id="oid" name="oid" value="<%- oid || ''%>"/>
                            <div class="control-group">
                                <label class="control-label">Current password</label>
                                <div class="controls">
                                <input tabindex="3" type="password" maxlength="50" id="curr_password" name="curr_password" placeholder="Current Password" class="form-control input-block-level" required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">New password</label>
                                <div class="controls">
                                <input tabindex="3" type="password" maxlength="50" id="password" name="password" placeholder="New Password" class="form-control input-block-level" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="pull-right">
                                    <button class="btn btn-lg btn-primary" type="submit">Change Password</button>
                                    <button class="btn btn-lg btn-link" onclick="self.location='/user/topic'" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
<% include includes/underfooter.html %>
<% include includes/scripts-common.html %>
<% include includes/submenu-script.html %>
<% include includes/analytics.html %>

<script>
    $().ready(function() {
        $("#register-form").validate();
    });
</script>

</body>
</html>
