<% var user_perms = null %>
<% user_perms = lbit.user_perms && lbit.user_perms[user._id] ? lbit.user_perms[user._id] : null %>
<% if ( (!user_perms || !user_perms.length) && topicToUse && topicToUse.user_perms && topicToUse.user_perms[user._id]) { user_perms = topicToUse.user_perms[user._id] } %>
<%
var editClass = '';
var titleEditClass = '';
var orderEditClass = '';
var noMatch = true;
var sameTopic = false;
var ftopic = lbit.topics[0];
var tfound = false;
if (lbit.topics && typeof lbit.topics == Array) {
    lbit.topics.forEach(function (atopic) {
        if (topicToUse && atopic._id == topicToUse._id) {
            tfound = true;
        }
    });
}

if (tfound) {
    ftopic = topicToUse;
}

if (ftopic && !topicToUse) {
    topicToUse = ftopic;
}

if (locals.topicObj && topicObj._id && topicToUse && topicToUse._id) {
    sameTopic = (''+locals.topicObj._id == ''+topicToUse._id);
}

var lbitTitle = lbit.title;
if (lbit.highlight && lbit.highlight.title) {
    lbitTitle = lbit.highlight.title;
}

var lbitDescription = lbit.description;
if (lbit.highlight && lbit.highlight.description) {
    lbitDescription = lbit.highlight.description;
}
lbitDescription = util.clean_html(lbitDescription);

if (lbit.url && lbit.url.indexOf('cl://') === 0) {
    lbit.url = '/media/' + lbit._id;
}
%>
<%
var editAllowed = false;
var deleteAllowed = false;
if (user_perms && (_.indexOf(user_perms, 'edit') != -1 || lbit.added_by == user._id)) {
    editAllowed = true;
}
if ( user_perms && (_.indexOf(user_perms, 'delete') != -1 || lbit.added_by == user._id)) {
    deleteAllowed = true;
}
var anchor_url = (topicToUse.discuss_anchor === 'custom') ? topicToUse.discuss_anchor_url : null;
var useremail = (user.emails && user.emails.length) ? user.emails[0] : '';
if (anchor_url) {
    anchor_url = anchor_url.replace(/\$user_id/ig, user._id);
    anchor_url = anchor_url.replace(/\$topic_id/ig, topicToUse._id);
    anchor_url = anchor_url.replace(/\$lbit_id/ig, lbit._id);
    anchor_url = anchor_url.replace(/\$lbit_owner_id/ig, lbit.added_by);
    anchor_url = anchor_url.replace(/\$app_id/ig, 'colearnr');
    anchor_url = anchor_url.replace(/\$user_email/ig, useremail);
}
var topic_discussion_url = anchor_url || ((topicToUse && topicToUse.topic_discussion_url) ? (topicToUse.topic_discussion_url + '/' + lbit._id) : null);
var discuss_id = (topicToUse && topicToUse.discuss_id) ? topicToUse.discuss_id : null;
var disurl = 'disable';
if (topicToUse.discuss_anchor !== 'disable') {
    disurl = (topic_discussion_url) || ( (locals.discussion_url || '') + '/topic/user/' + user._id + '/by_objid/' + (discuss_id || 9) + '/' + lbit._id + '?topic_id=' + topicToUse._id);
}
var notesurl = '/userdata/' + lbit._id + '/notes?topic_id=' + topicToUse._id;
var user_liked = false;
if (lbit.likes && lbit.likes.indexOf(''+user._id) != -1) {
    user_liked = true;
}
%>

<% if (editAllowed) { editClass = 'edit-class'; titleEditClass='title-edit-class'; orderEditClass='order-edit-class' } %>

<div id="<%- topicToUse._id %>-<%- lbit._id %>-lbit" data-views="<%- lbit.own_views || 0 %>" class="lbit-<%- lbit._id %> col-md-3 col-xs-6 col-sm-4 item <% if (lbit.own_views) { %>viewedLbit<% } else if (lbit.own_comments) { %>discussedLbit<% } else if (user_liked) { %>likedLbit<% } %> <% if(lbit.topics && lbit.topics.length && typeof lbit.topics == Array) { lbit.topics.forEach(function(at) { %><% if (locals.sid_id_map && sid_id_map[at._id]) { %><%- sid_id_map[at._id] %><% } %> <% }) } %>" itemscope itemtype="http://schema.org/Article">
    <div class="lbit-decorate">
        <i class="fa fa-check viewedDecorate"></i>
        <i class="fa fa-commenting discussedDecorate"></i>
    </div>
    <div id="<%- lbit._id %>" class="grid-title hide">
        <p id="id-<%- lbit._id %>-order" class="number <%- orderEditClass %> lbit-order pull-left <% if (!sameTopic) { %>hide<% } %>"><%- lbit.order || "0" %></p>
        <p itemprop="datePublished" class="added_date pull-left" id="id-<%- lbit._id %>-last_updated"><% if (lbit.last_updated) { %><%- util.relativeTime(lbit.last_updated) %><% } %></p>
        <% if (locals.isSearchPage) { %>
        <div class="lbit-topic-btn hidden-xs">
            <a href="/topic/<%- topicToUse._id %>/#lbit=<%- lbit._id %>/show" data-topic-id="<%- topicToUse._id %>" data-lbit-id="<%- lbit._id %>"><i class="fa fa-book"></i>&nbsp; <%- topicToUse.name || 'Unassigned' %></a>
        </div>
        <% } %>
        <div class="lbit-tools pull-right">
            <div class="lbit-edit-btn item-title hidden-xs" <% if (!editAllowed) { %>style="display: none;"<% } %>>
                <a href="/lbit/edit/<%- lbit._id %>" data-topic-id="<%- topicToUse._id %>" data-lbit-id="<%- lbit._id %>" data-action="edit" title="Edit"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
            </div>
            <% if (deleteAllowed) { %>
            <div class="lbit-del-btn item-title hidden-xs"><a data-id="<%- topicToUse._id %>-<%- lbit._id %>" data-topicid="<%- ftopic._id %>" data-toggle="modal" class="danger open-delModal" href="#delModal" title="Delete"><i class="fa fa-times-circle"></i></a></div>
            <% } %>
        </div>
    </div>
    <div class="flipcard" <% if (lbit.type == 'quote') { %>style="height: 95%;"<% } %>>
        <% if (lbit.type == 'youtube') { %>
        <% noMatch = false %>
        <% var body = util.parseJson(lbit.body) || {} %>
        <%
            var urlToUse = lbit.url;
            if (lbit.optimised_url) {
                urlToUse = lbit.optimised_url;
            } else if (body.embed) {
                urlToUse = 'https://www.youtube.com/watch?v=' + body.embed;
            }
        %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="http://schema.org/sameAs" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" data-start="<%- lbit.start %>" data-end="<%- lbit.end %>" href="<%- urlToUse %>" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %>https://img.youtube.com/vi/<%- body.embed || '' %>/0.jpg<% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'vimeo') { %>
        <% noMatch = false %>
        <% var body = util.parseJson(lbit.body) || {} %>
        <%
            var urlToUse = lbit.url;
            if (lbit.optimised_url) {
                urlToUse = lbit.optimised_url;
            } else if (body.embed) {
                urlToUse = 'https://vimeo.com/' + body.embed + '?title=0&byline=0&portrait=0';
            }
        %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="http://schema.org/sameAs" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" data-start="<%- lbit.start %>" data-end="<%- lbit.end %>" href="<%- urlToUse %>" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + '/images/blank_video.png' %><% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'annotag') { %>
        <% noMatch = false %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="http://schema.org/sameAs"  data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="<%- lbit.url %>" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + '/images/blank_video.png' %><% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'flash-video' || lbit.type == 'flash') { %>
        <% noMatch = false %>
        <% var imageToUse = '/images/blank_video.png' %>
        <% if (lbit.type == 'flash') { imageToUse = '/images/animation.png' } %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="url" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="<%- lbit.url %>?iframe=true&topic_id=<%- topicToUse._id %>&<% if (lbit.type == 'flash') { %>width=100%&height=100%<% } else { %>width=70%&height=75%<% } %>" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + imageToUse %><% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'video' || lbit.type == 'rtmp-live' || lbit.type == 'hls-live') { %>
        <% noMatch = false %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="url" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" data-start="<%- lbit.start %>" data-end="<%- lbit.end %>" href="<%- lbit.url %>" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + '/images/blank_video.png' %><% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'audio') { %>
        <% noMatch = false %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="url"  data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="<%- lbit.url %>" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + '/images/blank_audio.png' %><% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'iframe-embed') { %>
        <% noMatch = false %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="url"  data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="#if-<%- ss_count %>" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + '/images/blank_video.png' %><% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'slideshare') { %>
        <% noMatch = false %>
        <% var body = util.parseJson(lbit.body) || {} %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="url"  data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="#ss-<%- ss_count %>" rel="prettyPhoto[inline]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + '/images/blank_video.png' %><% } %>" itemprop="image" id="id-<%- lbit._id %>-thumbnail"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <div class="description">
                <div itemprop="description" class="<%- editClass %>" id="id-<%- lbit._id %>-description">
                    <% if (!util.empty(lbitDescription) && ((user_perms && (_.indexOf(user_perms, 'edit') != -1)) || lbit.added_by == user._id) ) { %><span class="hidden-xs">Double click to add description ...</span><% } else { %><%- lbitDescription %><% } %>
                </div>
                <div id="ss-<%- ss_count %>" style="display: none;">
                    <iframe class="embed-responsive-item" itemprop="http://schema.org/sameAs" src="<% if (body.embed) { %>https://www.slideshare.net/slideshow/embed_code/<%- body.embed %>?rel=0<% } else { %><%- lbit.url %><% } %>" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
                </div>
            </div>
        <% } %>

        <% if (lbit.type == 'html') { %>
        <% noMatch = false %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><% if (lbitTitle != '#') { %><%- lbitTitle || "&nbsp;" %><% } %></p>
            <a class="image" itemprop="url" <% if (!lbit.frame_restricted) { %>href="/lbit/view/<%- lbit._id %>?iframe=true&topic_id=<%- topicToUse._id %>&width=100%&height=100%" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" rel="prettyPhoto[<%- topicToUse.id %>]"<% } else { %>href="<%- lbit.url %>" target="_new"<% } %> title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" itemprop="image" id="id-<%- lbit._id %>-thumbnail" data-original="<% if (lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix %>/images/web-placeholder.png
            <% } %>" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'image') { %>
        <% noMatch = false %>
        <div class="picture">
            <p itemprop="name"  class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="url" id="id-<%- lbit._id %>-thumbnail" rel="prettyPhoto[<%- topicToUse.id %>]" href="<% if (lbit.optimised) { %>/lbit/view/<%- lbit._id %>?iframe=true&topic_id=<%- topicToUse._id %>&width=100%&height=100%<% } else { %><%- lbit.url %><% } %>" title="<%- lbit.title || "&nbsp;" %>" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" itemprop="image" data-original="<% if (lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- lbit.url %><% } %>" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'books') { %>
        <% noMatch = false %>
        <div class="picture">
            <p  itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="http://schema.org/sameAs"  data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="<%- lbit.url %>" target="_new" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" itemprop="image" id="id-<%- lbit._id %>-thumbnail" data-original="<%- lbit.img_url[0] %>" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'pdf') { %>
        <% noMatch = false %>
        <% var imageToUse = "article_icon.png" %>
        <% if (lbitTitle.indexOf('Notes') != -1) { imageToUse = 'notebook-lite.png'; } %>
        <% if (lbitTitle.indexOf('Problem set') != -1) { imageToUse = 'problem-solution.gif'; } %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" rel="prettyPhoto[<%- topicToUse.id %>]" itemprop="url" href="/lbit/view/<%- lbit._id %>?iframe=true&topic_id=<%- topicToUse._id %>&width=100%&height=100%" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbitTitle || "&nbsp;" %>"><img class="img-responsive lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" itemprop="image" id="id-<%- lbit._id %>-thumbnail" data-original="<% if (lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix %>/images/<%- imageToUse %><% } %>" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'archive' || lbit.type == 'drawing') { %>
        <% noMatch = false %>
        <% var imageToUse = "archive-icon.png" %>
        <% if (lbit.type == 'drawing') { imageToUse = 'drawing-icon.png'; } %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" data-topic-id="<%- topicToUse._id %>" data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" rel="" itemprop="url" href="/lbit/download/<%- lbit._id %>" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>"><img class="img-responsive lazy"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" itemprop="image" id="id-<%- lbit._id %>-thumbnail" data-original="<% if (lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix %>/images/<%- imageToUse %><% } %>" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'office') { %>
        <% noMatch = false %>
        <% var imageToUse = "article_icon.png" %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" rel="prettyPhoto[<%- topicToUse.id %>]" itemprop="url" href="/lbit/view/<%- lbit._id %>?iframe=true&topic_id=<%- topicToUse._id %>&width=100%&height=100%" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" itemprop="image" id="id-<%- lbit._id %>-thumbnail" data-original="<% if (lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix %>/images/<%- imageToUse %><% } %>" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (lbit.type == 'quote') { %>
        <% noMatch = false %>
        <% var body = util.parseJson(lbit.body) %>
        <div class="quotes">
            <div itemprop="description" class="quote">
                <sup><i class="fa fa-quote-left"></i></sup> <%- body.quote %> <sup><i class="fa fa-quote-right"></sup></i>
            </div>
            <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="author">
                - <%- body.author %> -
            </div>
        <% } %>

        <% if (lbit.type == 'inline-html' || lbit.type == 'poll') { %>
        <% noMatch = false %>
        <% var imageToUse = "html-learnbit.png" %>
        <% if (lbit.type == 'poll') { imageToUse = 'poll-icon.png' } %>
        <div class="picture">
            <p  itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><% if (lbitTitle != '#') { %><%- lbitTitle || "&nbsp;" %><% } %></p>
            <a class="image" itemprop="url" data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="/lbit/view/<%- lbit._id %>?iframe=true&topic_id=<%- topicToUse._id %>&width=100%&height=100%" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" itemprop="image" id="id-<%- lbit._id %>-thumbnail" data-original="<% if (lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix || '' %>/images/<%- imageToUse %><% } %>" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>

        <% if (noMatch) { %>
        <div class="picture">
            <p itemprop="name" class="item_title <%- titleEditClass %>" id="id-<%- lbit._id %>-title"><%- lbitTitle || "&nbsp;" %></p>
            <a class="image" itemprop="url"  data-topic-id="<%- topicToUse._id %>"  data-lbit-durl="<%- disurl %>" data-lbit-nurl="<%- notesurl %>" data-lbit-id="<%- lbit._id %>" data-comments_count="<% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %>" href="/lbit/embed/<%- lbit._id %>?iframe=true&topic_id=<%- topicToUse._id %>&width=100%&height=100%" rel="prettyPhoto[<%- topicToUse.id %>]" title="<%- lbit.title || "&nbsp;" %>" data-title="<%- lbit.title || "&nbsp;" %>" data-description="<%- lbit.description || lbit.title %>"><img class="img-responsive lazy" itemprop="image" id="id-<%- lbit._id %>-thumbnail" data-original="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- locals.page_options.cdn_prefix + '/images/blank_video.png' %><% } %>" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%- lbit.title || "&nbsp;" %>"/></a>
            <% include lbits-description.html %>
        <% } %>
        <% include lbits-detailed-info-compiled.html %>
        </div>
    </div>
    <div class="lbit-discuss"><a href="#lbit=<%- lbit._id %>/discuss" title="discuss" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-comments <% if (!lbit.comments_count) { %>hide<% } %>">&nbsp;<span id="id-<%- lbit._id %>-comments_count"><% if (lbit.comments_count) { %><%- lbit.comments_count %><% } %></span></i></a></div>
    <div class="pull-right lbit-info hidden-xs">
    <a title="Click to see more options"><i class="fa fa-ellipsis-h flip-btn"></i></a>
    </div>
</div>
